
/* App Body */
.my-reads {
	cursor: pointer;
}

/* pages shelf - hold the routes to page UIs - currently now styles to apply */

.pages {

}

/* main-page */

.main-page {
	width: 100%;
}

.book-shelves {
	position: relative;
	margin: 1.5vw 1vw;

}

/* search-page */

.search-page {
	width: 100%;
}

/* footer */

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	background-color: black;
	height: 10vh;
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	overflow-y:scroll;
    overflow-x:hidden;

}

.footer p {
	padding: 2px;
	margin: 0px;

}

.footer-link {
	color: white;
	font-size: .9em;
	border-radius: 3px;
	padding: 3px;
}

.footer-link:hover {
	font-size: 1em;
	text-decoration: none;
}

footer .currently:hover {
	color: rgba(0, 250, 250, 1);
	border: 1px solid rgba(0, 250, 250, 1);
}

footer .wantTo:hover {
	color: rgba(250, 0, 250, 1);
	border: 1px solid rgba(250, 0, 250, 1);
}

footer ._read:hover {
	color: rgba(250, 250, 0, 1);
	border: 1px solid rgba(250, 250, 0, 1);
}

.footer-info {
	font-size: 1.5vw;
	line-height: 1.5vw;
}

.footer-info a {
	color: white;
}

.footer-info a:hover {
	color: rgba(250, 0, 250, 1);
}